.container {
  display: flex;
  flex-wrap: wrap;
}

#title {
  color: black;
  background-color: rgb(81, 112, 133);
  border: rgb(49, 74, 92) solid 3px;
  border-radius: 10px;
  text-align: center;
}

.editor {
  flex-grow: 1;
  flex-basis: 100px;
  margin-right: 5px;
  text-align: center;
}

.preview {
  flex-grow: 1;
  flex-basis: 100px;
  margin-left: 5px;
}

#editor {
  background-color: rgb(137, 182, 180);
}

#preview {
  background-color: rgb(190, 137, 116);
  border: rgb(64, 90, 109) solid 3px;
  border-radius: 10px;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 900px;
  border: rgb(64, 90, 109) solid 3px;
  border-radius: 10px;
}
